
body {
  font-family: Arial;
  text-align: center;
  background-color: #e8faff;
  padding: 30px;
}
ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
}
li {
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}
